* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

header {
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px -4px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -4px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -4px 5px 5px rgba(0, 0, 0, 0.1);
}

header .header-inner {
    width: 1200px;
    max-width: 96%;
    margin: 0 auto 40px auto;
    padding: 14px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    margin-left: auto;
    font-weight: 900;
}

nav i {
    margin-right: 8px;
    color: #ED3431;
}

nav a {
    color: #666;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #44bfdd;
}

h1 {
    text-align: left;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 0;
    text-transform: uppercase;
    line-height: 0.8 !important;
}

h1 span {
    display: block;
    font-size: 31px;
    color: #44bfdd;
}

h1,
h2,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    line-height: 1.2;
}

h2 {
    margin-bottom: 0;
    margin-top: .8em;
}

h4 {
    font-weight: 400;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 94%;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 0 20px;
    margin-bottom: 80px;
    background-color: #fff;
}

input[type="text"] {
    padding: 6px;
    font-size: 1rem;
}

form button {
    margin: 20px auto 20px auto;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 600;
    margin-bottom: 12px;
}

.posts-container {
    margin: 0 auto;
    width: 1000px;
    max-width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favorite {
    float: right;
    margin: 16px 12px 12px 26px;
    font-size: 24px;
    color: #999;
}

.favorite .fas {
    color: #ED3431;
}

.favorite .far {
    transition: .5s ease-in-out;
}

.favorite:hover {
    cursor: pointer;
}

.stars {
    color: #ffcc00;
}

.movie-container {
    width: 48%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: transparent;
}

.movie {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie p {
    padding: 12px;
    margin-top: 0;
}

.movie img {
    float: left;
    margin: 0 20px 0 0;
    border-top-left-radius: 5px;
}

.button-container,
.search-form {
    width: 100%;
    text-align: center;
}

button {
    background-color: #44bfdd;
    color: #fff;
    border-radius: 5px;
    font-size: 2rem;
    padding: 20px;
    border: none;
    margin: 40px auto;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

button:disabled {
    background-color: #999;
}

button:disabled:hover {
    cursor: initial;
    opacity: 1;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.also-liked {
    background-color: #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 12px;
    margin: auto;
    height: 100%;
    width: 94%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: .8rem;
}

h5 {
    margin: 0;
    font-size: .8rem;
    text-align: center;
}

.also-liked a {
    color: #666;
}

.also-liked a:hover {
    color: #333;
}

@media (max-width:950px) {
    .movie-container {
        width: 500px;
        max-width: 100%;
    }
    .posts-container {
        justify-content: center;
    }
}